.git
.github
vendor
node_modules
storage/logs/*.log
storage/app/private/contacts/*.json
storage/app/private/metrics/*.json
storage/app/private/rate-limits/*.json
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
.env
.env.backup
.env.production
tests
docs
